aiohttp==3.3.2
aiohttp-apiset==0.9.2
aiohttp-jinja2==1.0.0
aiohttp-session==2.5.1
async-timeout==3.0.0
asyncpg==0.17.0
attrs==18.1.0
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
multidict==4.3.1
mypy==0.620
passlib==1.7.1
PyYAML==3.13
typed-ast==1.1.0
yarl==1.2.6
