<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script type="text/javascript" src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/javascript/auth.js"></script>

</head>
<body>
<div id="authFormContainer">
    <form id="authForm">
        <div>
            <label for="login">Login</label>
            <input id="login" type="text" name="login">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>

        <div id="controlButtons">
            <button type="submit">Login</button>
            <button type="button">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>