{% extends "master.html" %}
{% block links %}
<script type="text/javascript" src="../static/javascript/hosts.js"></script>
{% endblock %}
{% block content %}
    <table>
        <thead>
            <td colspan="3"> Hosts: </td>
            <td> <a>Add</a><a>Remove</a> </td>
        </thead>
        <thead>
            <td> Hostname </td>
            <td> Port </td>
            <td> Protocol </td>
            <td> Status </td>
        </thead>
    {% for host in hosttable %}
        <tr>
            <td>{{ host.host }}</td>
            <td>{{ host.port }}</td>
            <td>{{ host.protocol }}</td>
            <td>{{ host.status }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
